
{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}

<!-- Add home page content here -->
<!-- agent.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Availability</title> 
</head>

    
    <main>
        <div class="container home-section">
            <h1>Agent Availability</h1>
            <form id="agentForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <!-- <script src="{% static 'script.js' %}"></script> -->

</html>

{% endblock %}

