<!-- agent.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Availability</title>
    <link rel="stylesheet" href="{% static 'AgentPage_css.css' %}">
</head>
<body>
    <main>
        <div class="container">
            <h1>Agent Availability</h1>
            <form id="agentForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <!-- <script src="{% static 'script.js' %}"></script> -->
</body>
</html>
