<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- <<<<<<< HEAD -->
    <h2>Agent Availability</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
       <button type="submit">Save Availability</button>
    </form>

<!-- ======= -->
    <h2>Set Availability</h2>
    <form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Save Availability</button>
    </form>

    {% for availability in agent_availabilities %}
     <p>{{ availability.agent.username }} - Status: {{ availability.status }},Phone: {{ availability.agent_phone }} Available from {{ availability.start_time }} to {{ availability.end_time }}</p>
    {% endfor %}

<!-- >>>>>>> c46815c07918e406b1f30e8126e5dc0d9d390ab7 -->
</body>
</html>