{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SideBar.css' %}">
    <link rel="stylesheet" href="{% static 'AgentPage_css.css' %}">
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  </head>
  
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-codepen icon'></i>
        <div class="logo_name">Features</div>
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search'></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/admin/">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Admin Dashboard</span>
          </a>
          <span class="tooltip">Admin Dashboard</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/login/home/">
            <i class='bx bx-home'></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/map/">
            <i class='bx bx-map'></i>
            <span class="links_name">Map</span>
          </a>
          <span class="tooltip">Map</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/agent-update/">
            <i class='bx bx-male'></i>
            <span class="links_name">Agent</span>
          </a>
          <span class="tooltip">Agent</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/appointment/">
            <i class='bx bx-calendar-plus'></i>
            <span class="links_name">Appointment Scheduling</span>
          </a>
          <span class="tooltip">Apointment Scheduling</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/policy/">
            <i class='bx bx-refresh'></i>
            <span class="links_name">Policy Update</span>
          </a>
          <span class="tooltip">APolicy Update</span>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/policy/details">
            <i class='bx bx-trending-up'></i>
            <span class="links_name">Policy Status</span>
          </a>
          <span class="tooltip">APolicy Status</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <i class='bx bx-export'></i>
            <div class="name_job">
              <div class="name">Logout</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"></i>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/feedback/">
            <i class='bx bx-message-add'></i>
            <span class="links_name">Feedback</span>
          </a>
          <span class="tooltip">Feedback</span>
        </li>
      </ul>
    </div>
    <!-- <section class="home-section">
      <div class="text">Dashboard</div>
    </section> -->

    <script>
      let sidebar = document.querySelector(".sidebar");
let closeBtn = document.querySelector("#btn");
let searchBtn = document.querySelector(".bx-search");

closeBtn.addEventListener("click", () => {
  sidebar.classList.toggle("open");
  menuBtnChange();
});

searchBtn.addEventListener("click", () => {
  sidebar.classList.toggle("open");
  menuBtnChange();
});

function menuBtnChange() {
  if (sidebar.classList.contains("open")) {
    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
  } else {
    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
}

    </script>
  </body>